//font sizes
$base-size: 16;

// colours
$white: #ffffff;
$gold: #cd9703;
$light-gold: #cfb87c;
$light-gold-2: #d4ca9f;
$black: #000000;
$dark-black: #212020;
$light-black: #333333;
$light-black-2: #606060;
$red: #e41010;
$dark-red: #bd0000;
$dark-red-2: #982323;
$dark-red-3: #f7422d;
$grey: #908f8f;
$light-grey: #a7a8a9;
$light-grey-2: #d6d6d6;
$ligh-grey-three: #f9f9f9;

$default-background: $white;

// fonts and font families
$open-sans: 'Open Sans', sans-serif;
